In [393]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [420]:
commune_path="commune.xlsx"
commune_data= pd.read_excel(commune_path)
drop_cols=['Commune_en']
commune_data.drop(columns=drop_cols, inplace=True)
commune_cols=['commune','commune_id', 'departement','departement_id']
commune_data.columns=commune_cols
commune_data=commune_data.set_index('commune_id')
#commune_data.head()

In [421]:
commune_data.isna().sum()

commune           0
departement       0
departement_id    0
dtype: int64

In [422]:
#commune_data.loc[commune_data['commune'] == 'Abricots']
def fill_depart(string):
    data=commune_data.loc[commune_data['commune'] == string]
    res=data['departement_id'].str.upper()
    print(str(res))
#fill_depart('Abricots')

In [397]:
check_null=commune_data.isnull().values.any()
check_null

False

In [429]:
quest_path="quest.csv" 
quest_data=pd.read_csv(quest_path, index_col=0)
drop_cols=['modified_at','formal_sector_job','after_AA','department']
quest_data.drop(columns=drop_cols, inplace=True)
quest_cols=['gender','dob','commune_id','created_at','education_level','university','study_domain','current_employed','computer_home','internet_home','hear_AA','quest_id']
quest_data.columns=quest_cols
quest_data['commune_id']=quest_data['commune_id'].str.upper()
quest_data['dob'] = quest_data['dob'].replace(['3 aout 1977'],'03/08/1977')
quest_data=quest_data.set_index('commune_id')
quest_data['dob'] = pd.to_datetime(quest_data['dob'])
#quest_data['created_at'] = pd.to_datetime(quest_data['created_at'])
#quest_data.head()

In [430]:
#This line fill all the null values in dob column
quest_data.dob=quest_data['dob'].fillna(value=quest_data.dob.mean())

In [431]:
quest_data['study_domain'] = quest_data['study_domain'].replace(['[]'],"['item1']")

In [432]:
quest_data['study_domain'].value_counts()

['item1']                      86
['other']                      63
['item6']                      19
['item3']                      12
['item2']                       9
['item5']                       8
['item7']                       8
['item2', 'item3']              7
['item8']                       6
['item1', 'item6']              5
['item3', 'item6']              2
['item4', 'item1']              2
['item1', 'other']              2
['item6', 'item7']              2
['item6', 'item3']              2
['item6', 'other']              2
['item3', 'item2']              2
['item5', 'item6', 'other']     1
['item4', 'item3']              1
['item1', 'item7']              1
['item7', 'other']              1
['item1', 'item5']              1
['item6', 'item1']              1
['item5', 'other']              1
['item4', 'item1', 'item6']     1
['item3', 'item1']              1
['item2', 'item3', 'other']     1
['item1', 'item3']              1
['item5', 'item6']              1
['item1', 'other', 'item6']     1
Name: study_domain, dtype: int64

In [353]:
quest_data.isna().sum()

gender              0
dob                 0
education_level     0
university          0
study_domain        0
current_employed    0
computer_home       0
internet_home       0
hear_AA             0
quest_id            0
dtype: int64

In [433]:
quest_data.head()

,gender,dob,created_at,education_level,university,study_domain,current_employed,computer_home,internet_home,hear_AA,quest_id
commune_id,,,,,,,,,,,
HT0111,male,1998-08-25,2021-02-14T23:03:52.768400Z,unknown,unknown,['item1'],unknown,unknown,unknown,unknown,905dc006-ce95-11eb-b2f9-7c67a234f601
HT0111,female,1996-09-29,2021-02-16T16:01:10.861844Z,Bachelors (bacc +4),other,['other'],No,Yes,Yes,Friend,905ddcf2-ce95-11eb-9a92-7c67a234f601
HT0111,male,1996-05-17,2021-02-16T16:56:30.579504Z,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item1'],No,Yes,Yes,Friend,905e2608-ce95-11eb-809f-7c67a234f601
HT0111,male,1996-11-24,2021-02-16T16:57:55.754541Z,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",No,Yes,Yes,ESIH,905e4cf5-ce95-11eb-96a9-7c67a234f601
HT0111,male,1997-07-20,2021-02-16T17:05:40.907948Z,High School (16 years),unknown,['other'],No,Yes,Yes,WhatsApp,905e73fd-ce95-11eb-a7b0-7c67a234f601

In [434]:
quest_data['created_at'] = quest_data['created_at'].str[:10]

In [435]:
quest_data

,gender,dob,created_at,education_level,university,study_domain,current_employed,computer_home,internet_home,hear_AA,quest_id
commune_id,,,,,,,,,,,
HT0111,male,1998-08-25,2021-02-14,unknown,unknown,['item1'],unknown,unknown,unknown,unknown,905dc006-ce95-11eb-b2f9-7c67a234f601
HT0111,female,1996-09-29,2021-02-16,Bachelors (bacc +4),other,['other'],No,Yes,Yes,Friend,905ddcf2-ce95-11eb-9a92-7c67a234f601
HT0111,male,1996-05-17,2021-02-16,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item1'],No,Yes,Yes,Friend,905e2608-ce95-11eb-809f-7c67a234f601
HT0111,male,1996-11-24,2021-02-16,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",No,Yes,Yes,ESIH,905e4cf5-ce95-11eb-96a9-7c67a234f601
HT0111,male,1997-07-20,2021-02-16,High School (16 years),unknown,['other'],No,Yes,Yes,WhatsApp,905e73fd-ce95-11eb-a7b0-7c67a234f601
...,...,...,...,...,...,...,...,...,...,...,...
HT0621,male,1994-02-15,2021-03-02,Bachelors (bacc +4),other,['other'],Yes,Yes,Yes,Facebook,906b3c84-ce95-11eb-8c2a-7c67a234f601
HT0621,male,1990-08-10,2021-03-10,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item8'],Yes,Yes,Yes,Friend,906b3c85-ce95-11eb-9b87-7c67a234f601
HT0621,male,1993-12-28,2021-03-14,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],Yes,Yes,Yes,Friend,906b3c86-ce95-11eb-b6a7-7c67a234f601
HT0412,male,1992-04-17,2021-03-08,Bachelors (bacc +4),other,['item1'],No,Yes,Yes,Facebook,906b65e2-ce95-11eb-8b5c-7c67a234f601
HT1012,male,1993-07-22,2021-03-10,Masters,other,['other'],No,Yes,Yes,Facebook,906b65e3-ce95-11eb-a294-7c67a234f601

In [402]:
check_null=quest_data.isnull().values.any()
print(check_null)

False

In [403]:
quest_data.duplicated().sum()

0

In [404]:
# we know that column 'id' is unique, but what if we drop it?
#df_dedupped = quest_data.drop('quest_id', axis=1).drop_duplicates()

# there were duplicate rows
print(quest_data.shape)
print(commune_data.shape)

(250, 10)
(140, 3)

In [436]:
dataset = pd.merge(left =commune_data,right=quest_data,how="inner",on="commune_id")

In [437]:
dataset

,commune,departement,departement_id,gender,dob,created_at,education_level,university,study_domain,current_employed,computer_home,internet_home,hear_AA,quest_id
commune_id,,,,,,,,,,,,,,
HT0731,Aquin,South,HT07,male,1995-12-05,2021-02-16,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item6', 'item1']",No,Yes,Yes,Friend,9069789e-ce95-11eb-883e-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1995-09-16,2021-02-21,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['other'],Yes,Yes,Yes,Facebook,906a79ae-ce95-11eb-98c3-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1987-04-19,2021-02-21,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item1'],No,Yes,No,Friend,906a79af-ce95-11eb-bd36-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1991-09-08,2021-03-03,Other,unknown,['item7'],No,Yes,No,Facebook,906aa0a0-ce95-11eb-8355-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1987-02-22,2021-03-05,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),"['item7', 'other']",No,Yes,Yes,Facebook,906aa0a1-ce95-11eb-899e-7c67a234f601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HT0118,Tabarre,West,HT01,male,1988-09-17,2021-03-07,Bachelors (bacc +4),unknown,"['item6', 'item3']",No,Yes,No,LinkedIn,9066879b-ce95-11eb-9d4a-7c67a234f601
HT0118,Tabarre,West,HT01,male,1997-11-23,2021-03-09,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,"['item2', 'item3']",No,Yes,Yes,WhatsApp,9066abb5-ce95-11eb-aa16-7c67a234f601
HT0532,Verrettes,Artibonite,HT05,male,1980-12-04,2021-02-21,Other,unknown,"['item1', 'item7']",Yes,Yes,Yes,WhatsApp,906a52b7-ce95-11eb-9c4b-7c67a234f601
HT0532,Verrettes,Artibonite,HT05,male,1984-01-22,2021-02-22,Other,unknown,['item1'],Yes,Yes,Yes,WhatsApp,906a79ab-ce95-11eb-a1b8-7c67a234f601
HT0532,Verrettes,Artibonite,HT05,male,1985-03-28,2021-03-04,Bachelors (bacc +4),other,['item1'],Yes,Yes,Yes,Friend,906a79ac-ce95-11eb-9f8a-7c67a234f601

In [438]:
dataset.isna().sum()
dataset.shape

(250, 14)

In [408]:
#study_domain_path="study_domain.csv"
#study_domain_data=pd.read_csv(study_domain_path, index_col=0)
#study_domain_data.drop(columns='key', inplace=True)
#study_domain_cols=['key','study_domain','quest_id']
#study_domain_data.columns=study_domain_cols
#study_domain_data=study_domain_data.set_index('quest_id')
#study_domain_data

In [409]:
#vartest=study_domain_data['quest_id'].value_counts()
#vartest.head(25)

In [315]:
#Extract each values of "Study_domain" and place them into a separate Columns before Merge
# study_domain_data = pd.get_dummies(data=study_domain_data[["quest_id","key", "study_domain"]], columns=['study_domain'], prefix="",prefix_sep="")
# study_domain_data = study_domain_data.groupby("quest_id").sum()

In [410]:
#study_domain_data

In [411]:
#dataset.set_index('quest_id')

In [391]:
# dataset = pd.merge(left =dataset,right=study_domain_data,how="inner",on="quest_id")

In [412]:
# dataset

In [413]:
#dataset.set_index('quest_id')

In [414]:
# technology_path='technology.csv'
# technology_data=pd.read_csv(technology_path, index_col=0)
# #technology_data.drop(columns='key', inplace=True)
# technology_cols=["key", 'technology', 'quest_id']
# technology_data.columns=technology_cols
# #technology_data=technology_data.set_index('quest_id')
# technology_data

In [415]:
# #Extract each values of "Study_domain" and place them into a separate Columns before Merge
# technology_data = pd.get_dummies(data=technology_data[["quest_id","key", "technology"]], columns=['technology'], prefix="",prefix_sep="")
# technology_data = technology_data.groupby("quest_id").sum()

In [416]:
# dataset = pd.merge(left =dataset,right=technology_data,how="inner",on="quest_id")

In [451]:
dataset

,commune,departement,departement_id,gender,dob,created_at,education_level,university,study_domain,current_employed,computer_home,internet_home,hear_AA,quest_id
commune_id,,,,,,,,,,,,,,
HT0731,Aquin,South,HT07,male,1995-12-05,2021-02-16,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item6', 'item1']",No,Yes,Yes,Friend,9069789e-ce95-11eb-883e-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1995-09-16,2021-02-21,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['other'],Yes,Yes,Yes,Facebook,906a79ae-ce95-11eb-98c3-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1987-04-19,2021-02-21,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item1'],No,Yes,No,Friend,906a79af-ce95-11eb-bd36-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1991-09-08,2021-03-03,Other,unknown,['item7'],No,Yes,No,Facebook,906aa0a0-ce95-11eb-8355-7c67a234f601
HT0311,Cap-Haïtien,North,HT03,male,1987-02-22,2021-03-05,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),"['item7', 'other']",No,Yes,Yes,Facebook,906aa0a1-ce95-11eb-899e-7c67a234f601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
HT0118,Tabarre,West,HT01,male,1988-09-17,2021-03-07,Bachelors (bacc +4),unknown,"['item6', 'item3']",No,Yes,No,LinkedIn,9066879b-ce95-11eb-9d4a-7c67a234f601
HT0118,Tabarre,West,HT01,male,1997-11-23,2021-03-09,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,"['item2', 'item3']",No,Yes,Yes,WhatsApp,9066abb5-ce95-11eb-aa16-7c67a234f601
HT0532,Verrettes,Artibonite,HT05,male,1980-12-04,2021-02-21,Other,unknown,"['item1', 'item7']",Yes,Yes,Yes,WhatsApp,906a52b7-ce95-11eb-9c4b-7c67a234f601
HT0532,Verrettes,Artibonite,HT05,male,1984-01-22,2021-02-22,Other,unknown,['item1'],Yes,Yes,Yes,WhatsApp,906a79ab-ce95-11eb-a1b8-7c67a234f601
HT0532,Verrettes,Artibonite,HT05,male,1985-03-28,2021-03-04,Bachelors (bacc +4),other,['item1'],Yes,Yes,Yes,Friend,906a79ac-ce95-11eb-9f8a-7c67a234f601

In [418]:
#dataset.set_index('quest_id')

In [440]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, HT0731 to HT0532
Data columns (total 14 columns):
commune             250 non-null object
departement         250 non-null object
departement_id      250 non-null object
gender              250 non-null object
dob                 250 non-null datetime64[ns]
created_at          250 non-null object
education_level     250 non-null object
university          250 non-null object
study_domain        250 non-null object
current_employed    250 non-null object
computer_home       250 non-null object
internet_home       250 non-null object
hear_AA             250 non-null object
quest_id            250 non-null object
dtypes: datetime64[ns](1), object(13)
memory usage: 29.3+ KB

In [442]:
dataset.describe()

,commune,departement,departement_id,gender,dob,created_at,education_level,university,study_domain,current_employed,computer_home,internet_home,hear_AA,quest_id
count,250,250,250,250,250,250,250,250,250,250,250,250,250,250
unique,35,9,9,2,237,28,6,7,30,3,3,3,10,250
top,Delmas,West,HT01,male,1994-03-13 18:05:54.098360704,2021-02-17,Bachelors (bacc +4),unknown,['item1'],No,Yes,Yes,Friend,90652a93-ce95-11eb-a8af-7c67a234f601
freq,71,214,214,203,6,41,148,95,86,180,234,210,67,1
first,NaN,NaN,NaN,NaN,1970-07-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2021-08-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
def percent_colunm_null_values(data):
   result =  data.isna().sum()/data.shape[0]
   return result[result>0.0]

percent_colunm_null_values(data=dataset)

NameError: name 'dataset' is not defined

In [444]:
dataset['gender'].value_counts()

male      203
female     47
Name: gender, dtype: int64

In [448]:
prob_female =  dataset[dataset.gender == "female"].shape[0] / 0.25
prob_female

188.0

In [449]:
dataset.shape[0]

250

In [450]:
dataset[dataset.gender == "female"].shape[0]

47

In [453]:
def generate_barchart(data="", title ="",abs_value ="",rel_value="",figsize =(10,6)):
  plt.figure(figsize=figsize)
  axes = sns.barplot(data=data,x=data.index,y=abs_value)
  i=0
  for tot, perc in zip(data[abs_value],data[rel_value]):
    axes.text(i,
              tot/2,
              str(np.round(perc*100,2))+ "%",
               fontdict=dict(color='White',fontsize=12,horizontalalignment="center")
              )
    axes.text(i,
              tot+ 3,
              str(tot),
               fontdict=dict(color='blue',fontsize=12,horizontalalignment="center")
              )
    
    i+=1
  plt.title(title)
  plt.show()

In [454]:
generate_barchart(data="dataset",title="gender",abs_value="departement",rel_value="Percent")

AttributeError: 'str' object has no attribute 'get'

In [456]:
total =dataset.groupby(by=["gender"]).departement.count().to_frame()
total.columns = ["% Per Departement"]